@import '../../assets/styles/media-query'

#search-page
	ul
		display: flex
		width: 100%
		flex-wrap: wrap

		li
			@include mobile-screen
				width: 155px

			.book-wrapper
				@include mobile-screen
					padding: 10px

				img
					@include mobile-screen
						width: 133px
						height: 202px
